body
	font-family: 'roboto'
	font-weight: 300
	font-size: 11px
	-webkit-font-smoothing: antialiased
	color: $color-text

button::before,
button::after
	content: ''
	flex: 1 0 auto

.spr
	display: inline-block
	text-indent: -999em

h1, h2, h3, h4, h5
	padding: 0
	margin: 0

ul, ol, li
	list-style: none
	padding: 0
	margin: 0

a
	color: $color-text

.-hidden
	display: none !important

.-vhidden
	visibility: hidden !important
	opacity: 0
