.breadcrumb
	padding: 0 0 10px 0
	margin-bottom: 20px
	border-bottom: solid 1px $color-modal
	font-size: 12px
	font-weight: 500
	color: $color-primary
	text-transform: uppercase

	li::before
		content: '⇾'
		display: inline-block
