textarea,
input
	&::-moz-placeholder,
	&::-ms-input-placeholder,
	&::-moz-placeholder,
	&::-webkit-input-placeholder,
	&::placeholder
		color: $color-text

.formm
	display: flex
	flex-direction: column
	align-items: flex-start
	width: 100%

	&__item
		margin-bottom: 30px
		width: 100%
		position: relative

	&__text
		display: block
		width: 100%
		height: 50px
		position: relative
		overflow: hidden

		em
			content: ''
			width: 100%
			height: 1px
			position: absolute
			bottom: 0
			left: 0
			background: $color-secondary
			transform: translateX(-100%)
			transition: transform .3s

		input
			width: 100%
			height: 50px
			font-size: 16px
			font-weight: 300
			font-family: 'open_sans'
			line-height: 1.5
			box-sizing: border-box
			background: transparent
			border: none
			border-bottom: solid 1px $color-modal

			&:focus + em
				transform: translateX(0px)

		textarea
			resize: none
			height: 100px

	&__textarea
		display: block
		width: 100%
		min-height: 50px
		position: relative
		overflow: hidden

		em
			content: ''
			width: 100%
			height: 1px
			position: absolute
			bottom: 0
			left: 0
			background: $color-secondary
			transform: translateX(-100%)
			transition: transform .3s

		textarea
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			padding: 0
			margin: 0
			z-index: 2
			resize: none
			font-size: 16px
			box-sizing: border-box
			white-space: normal
			overflow: hidden
			background: transparent
			font-weight: 300
			font-family: 'open_sans'
			line-height: 1.5
			padding: 10px 0
			border: none
			border-bottom: solid 1px $color-modal

			&:focus + em
				transform: translateX(0px)

		.textarea
			opacity: 0.1
			width: 100%
			min-height: 50px
			font-size: 16px
			box-sizing: border-box
			font-weight: 300
			font-family: 'open_sans'
			line-height: 1.5
			padding: 10px 0
			z-index: 1
			white-space: pre-wrap
			word-wrap: break-word
			overflow-wrap: break-word
			overflow: hidden
			position: relative

	&__select
		display: block
		width: 100%
		height: 50px
		position: relative
		overflow: hidden

		&::after
			content: ''
			position: absolute
			top: 50%
			right: 10px
			margin-top: -4px
			border-style: solid
			border-width: 8px 5px 0 5px
			border-color: $color-modal2 transparent $color-modal2 transparent

		em
			width: 100%
			height: 1px
			position: absolute
			bottom: 0
			left: 0
			background: $color-secondary
			transform: translateX(-100%)
			transition: transform .3s

		select
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none
			width: 100%
			height: 50px
			border-radius: 0
			box-sizing: border-box
			font-size: 16px
			background: transparent
			border: none
			border-bottom: solid 1px $color-modal
			color: $color-text
			padding-right: 30px

			&:focus + em
				transform: translateX(0px)

	.info
		position: absolute
		top: 100%
		padding: 5px
		font-size: 10px
		font-weight: 500
		color: $color-bullet

	.error-tooltip
		position: absolute
		top: 100%
		right: 0
		text-align: right
		display: flex
		padding: 5px
		background: $white

		strong
			font-size: 10px
			text-transform: uppercase
			font-weight: 500
			color: $color-secondary
			margin-left: 15px
			display: flex
			align-items: center

			&::before
				content: '•'
				display: inline
				font-size: 13px
				margin-right: 5px

	.btn.--right
		margin-top: 20px
