.nav
	position: absolute
	top: 60px
	left: 0
	bottom: 0
	width: 200px
	background: $color-modal
	padding: 30px
	box-sizing: border-box
	z-index: 3
	display: none

	ul
		li
			padding: 10px 0

			&:first-child
				padding-top: 0
			a
				display: block
				padding: 5px 0
				font-weight: 500
				font-size: 14px

			&.active
				a
					color: $color-secondary
					font-weight: 700

.active-page-exercises-day,
.active-page-days,
.active-page-users,
.active-page-exercises,
.active-page-calendar,
.active-page-home,
.active-page-plans
	.nav
		display: block
