.page
	opacity: 0
	transition: opacity .4s
	z-index: 1
	position: absolute
	top: 100px
	left: 300px
	right: 0
	bottom: 0
	overflow: visible
	background: $white

	&.active
		opacity: 1
		z-index: 2

	&__container
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		overflow: auto
		padding: 30px
		box-sizing: border-box
		z-index: 2


