.ttable
	width: 100%

	&__header
		th
			text-align: left
			padding: 20px 5px 10px 5px
			border-bottom: solid 1px $color-modal
			font-size: 18px
			font-weight: 500

	&__body
		td
			text-align: left
			padding: 20px 5px
			font-size: 14px
