.page-home
	&__header
		transition: all .3s
		height: 115px

		.selected-date
			position: relative
			z-index: 2
			height: 65px
			background: $color-primary
			color: $white
			display: flex

			&__day
				width: 70px
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				border-right: solid 1px $white

				span
					font-size: 36px
					font-weight: 500
					line-height: 1

				small
					font-size: 14px
					font-weight: 500
					line-height: 1
					display: block
					padding-bottom: 5px
					text-transform: uppercase

			&__month
				width: calc(100% - 70px)
				display: flex
				justify-content: center
				align-items: center
				padding-right: 45px
				box-sizing: border-box

				span
					font-size: 18px
					line-height: 1
					text-transform: capitalize

				.icon
					position: absolute
					right: 15px
					font-size: 9px

		.date-content
			z-index: 1
			position: relative
			height: 50px
			background: $color-secondary
			color: $white
			border-top: solid 1px $white
			padding: 15px 20px
			box-sizing: border-box
			display: flex
			flex-direction: column
			justify-content: space-around
			transition: all .3s

			&__title
				font-size: 14px
				line-height: 1

			&__wrapper
				display: flex
				align-items: center

			&__time,
			&__burn
				display: flex
				align-items: center
				font-size: 14px
				line-height: 1
				margin-right: 15px

				.icon
					font-size: 18px
					margin-right: 10px

			&__burn
				padding-left: 15px
				border-left: solid 1px rgba(255,255,255,0.5)
				align-items: flex-end

				.icon
					margin-right: 5px

	&__content
		height: calc(100% - 120px)
		box-sizing: border-box
		padding: 20px
		overflow: auto
		transition: all .3s

		&__titles
			padding-bottom: 10px

			h2
				line-height: 2
				font-size: 14px
				font-weight: 500

		&__exercises
			margin-bottom: 20px

			&__note
				background: $color-page
				color: $color-grey
				padding: 5px 0
				font-size: 12px
				text-transform: uppercase

			&__item
				background: $white
				border-left: solid 3px transparent

				.-normal &
					border-left-color: $color-set-normal

				.-biset &
					border-left-color: $color-set-biset

				.-triset &
					border-left-color: $color-set-triset

				.-superset &
					border-left-color: $color-set-superset

				$parent: &

				&__title
					display: flex
					height: 40px
					justify-content: space-between
					align-items: center

					span
						font-size: 13px
						color: $black
						font-weight: 500
						padding: 0 8px

					em
						font-size: 8px
						color: $color-text
						transition: all .3s
						padding: 0 8px

					.repts
						margin-left: auto
						display: flex
						align-items: center

						span
							display: block
							border-left: solid 1px $color-lightgrey
							box-sizing: border-box

							&:first-child
								border: none

				&__content
					max-height: 0
					overflow: hidden
					transition: max-height .3s
					border-bottom: solid 1px $color-lightgrey

					p
						font-size: 12px
						color: $color-text
						padding: 7px 20px 20px
						line-height: 1.5

				&.-active
					#{$parent}__content
							max-height: 800px

					#{$parent}__title
						em
							transform: rotate(180deg)

	.btn-timer
		position: absolute
		bottom: 70px
		right: 20px
		width: 50px
		height: 50px
		border-radius: 100%
		background: $color-primary
		z-index: 99
		transition: all .3s

		.icon
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)

		.icon-play
			margin-left: 3px
			width: 0
			height: 0
			border-top: 15px solid transparent
			border-bottom: 15px solid transparent
			border-left: 20px solid $white

		.icon-pause
			opacity: 0
			width: 20px
			height: 24px
			display: flex
			justify-content: space-between

			&::after,
			&::before
				content: ''
				width: 7px
				height: 24px
				background: $white

		&.-playing
			.icon-play
				opacity: 0

			.icon-pause
				opacity: 1

	&.-loading
		.btn-timer
			transform: translateX(100px)
			opacity: 0

		.page-home__header
			transform: translateY(-50%)
			opacity: 0

		.page-home__content
			transform: translateY(50%)
			opacity: 0

	&.-loading-content
		.btn-timer
			transform: translateX(100px)
			opacity: 0

		.page-home__header .date-content
			transform: translateY(-100%)

		.page-home__content
			transform: translateY(50%)
			opacity: 0

	&.-noresult
		.btn-timer
			transform: translateX(100px)
			opacity: 0

		.page-home__header .date-content
			transform: translateY(-100%)


.picker-calendar-day.picker-calendar-day-has-events
	span:after
		width: 15px
		height: 2px
		background: $color-primary
		border-radius: 0
		margin-left: -7px
		bottom: 4px
