@font-face
	font-family: 'roboto'
	src: url('../fonts/roboto-bold-webfont.woff2') format("woff2"), url('../fonts/roboto-bold-webfont.woff') format("woff")
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'roboto'
	src: url('../fonts/roboto-light-webfont.woff2') format("woff2"), url('../fonts/roboto-light-webfont.woff') format("woff")
	font-weight: 200
	font-style: normal

@font-face
	font-family: 'roboto'
	src: url('../fonts/roboto-medium-webfont.woff2') format("woff2"), url('../fonts/roboto-medium-webfont.woff') format("woff")
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'roboto'
	src: url('../fonts/roboto-regular-webfont.woff2') format("woff2"), url('../fonts/roboto-regular-webfont.woff') format("woff")
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'icomoon'
	src:  url('../fonts/icomoon.eot?tgqmry')
	src:  url('../fonts/icomoon.eot?tgqmry#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tgqmry') format('truetype'), url('../fonts/icomoon.woff?tgqmry') format('woff'), url('../fonts/icomoon.svg?tgqmry#icomoon') format('svg')
	font-weight: normal
	font-style: normal

[class^="icon-"], [class*=" icon-"]
	font-family: 'icomoon' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon-logo:before
	content: "\e907"

.icon-arrow-down:before
	content: "\e906"

.icon-burn:before
	content: "\e900"

.icon-dashboard:before
	content: "\e901"

.icon-settings:before
	content: "\e902"

.icon-time:before
	content: "\e903"

.icon-weigth:before
	content: "\e904"

.icon-workouts:before
	content: "\e905"


